:root{
    --bg-color:#F1F5FE;
    --titles-color:#2D304D;
    --form-color:#FFFFFF;
    --text-color:#9198A9;
    --button-bg:#293356;
    --slider-color:#14D8C5;
    --bg-color-discount:#FBEFEC;
    --text-color-discount:#e49d87;
    --button-text:#BFCCFA;
    --bg-switch: #CFD8F1;
    --ff:'Manrope', sans-serif;
    --fw-600:600;
    --fw-800:800;
}



